@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Jeju Myeongjo', 'prtendard';
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    background-repeat: no-repeat;
    text-align: center;
}

:root {
    /* basic color */
    --white-color: #fdfbf9;
    --brown1-color: #856141;
    --brown2-color: #615555;
    --brown3-color: #4c423c;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #eee9e0;
}

.section, footer {
    padding: 80px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    background: url('images/main.JPG') center/cover no-repeat;
    height: 600px;
}

.sub_title {
    color: var(--brown1-color);
    margin-bottom: 16px;
}

.caption {
    color: var(--brown1-color);
    margin: 32px 0px 8px 0px;
}


.title {
    color: var(--brown2-color);
    margin-bottom: 24px;
}

.content {
    color: var(--brown3-color);
    line-height: 160%;
    margin-bottom: 24px;
}

.name {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.name .content {
    font-size: 24px;
}

/* 첫 페이지 */
#intro {
    background-color: var(--white-color);
    padding: 8px 0 0 0;
}

/* 초대글/두번째 페이지 */
#text, #location, #gallery,#account {
    background-color: var(--white-color);
}

/* 달력 */
#calendar {
    background-color: var(--brown3-color);
}

#date {
    color: var(--white-color);
    margin: 0;
}

#calendar .img {
    height: 400px;
}

.account_img {
    height: 250px;
}

#notice {
    background-color: var(--brown3-color);
}

#notice .sub_title {
    color: #E8E8E8;
}

#notice .title {
    color: var(--white-color);
}

#notice img {
    width: 340px;
    margin-top: 16px;
}

#gallery {
    max-width: 450px;
}

.gallery_item {
    width: 100%;
    height: 100%;
    /* width: 100px; */
    /* height: 100px; */
}

#account {
    padding: 400px 8px 80px 8px;
}

.account_wrap {
    background-color: #F8F6F1;
    margin-bottom: 20px;
    padding: 16px 24px;
    border-radius: 8px;
    width: 320px;
}

.account_wrap_title {
    font-weight: 600;
    text-align: left;
    font-family: 'pretendard';
    color: var(--brown3-color);
}

.account_wrap_content p {
    margin-top: 12px;
    text-align: left;
    font-family: 'pretendard';
    color: var(--brown3-color);
}

#thanks {
    background-color: var(--brown3-color);
    color: var(--white-color);
    padding: 60px 8px;
}

input {
    display: none;
}

label, .big-img {
    font-size: 0;
    padding: 4px;
}

.img-area {
    width: 100%;
    position: relative;
    height: 600px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-area .sub-img {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.img-area .big-img img {
    display: none; 
}

.sub-img label {
    width: 100px;
    height: 100px;
}

.sub-img {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.big-img {
    width: 400px;
}

input:checked ~ .big-img img{display: none;}
input:nth-child(1):checked ~ .big-img img:nth-child(1){display: block;}
input:nth-child(2):checked ~ .big-img img:nth-child(2){display: block;}
input:nth-child(3):checked ~ .big-img img:nth-child(3){display: block;}
input:nth-child(4):checked ~ .big-img img:nth-child(4){display: block;}
input:nth-child(5):checked ~ .big-img img:nth-child(5){display: block;}
input:nth-child(6):checked ~ .big-img img:nth-child(6){display: block;}
input:nth-child(7):checked ~ .big-img img:nth-child(7){display: block;}
input:nth-child(8):checked ~ .big-img img:nth-child(8){display: block;}
input:nth-child(9):checked ~ .big-img img:nth-child(9){display: block;}
input:nth-child(10):checked ~ .big-img img:nth-child(10){display: block;}
input:nth-child(11):checked ~ .big-img img:nth-child(11){display: block;}
input:nth-child(12):checked ~ .big-img img:nth-child(12){display: block;}
input:nth-child(13):checked ~ .big-img img:nth-child(13){display: block;}
input:nth-child(14):checked ~ .big-img img:nth-child(14){display: block;}
input:nth-child(15):checked ~ .big-img img:nth-child(15){display: block;}
input:nth-child(16):checked ~ .big-img img:nth-child(16){display: block;}