@import url(//fonts.googleapi.com/earlyaccess/jejumyeongjo.css);
@font-face {
    font-family: 'SOGANGUNIVERSITYTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YESMyoungjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'SOGANGUNIVERSITYTTF', 'YESMyoungjo-Regular', 'prtendard';
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    background-repeat: no-repeat;
    text-align: center;
}

:root {
    /* basic color */
    --white-color: #fdfbf9;
    --brown1-color: #6A6B4E;
    --brown2-color: #283C00;
    --brown3-color: #162100;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #F6F6E5;
}

.section, footer {
    padding: 80px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    background: url('images/home.jpg') center/cover no-repeat;
    /* height: 600px; */
    width: 360px;
}

.sub_title {
    color: var(--brown1-color);
    margin-bottom: 16px;
}

.caption {
    color: var(--brown1-color);
    margin: 32px 0px 8px 0px;
}


.title {
    color: var(--brown2-color);
    margin-bottom: 36px;
    font-size: 20px;
    font-weight:bold;
}

.content {
    color: var(--brown3-color);
    line-height: 160%;
    margin-bottom: 24px;
    font-family: 'YESMyoungjo-Regular';
}

.name {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.name .img {
    width: 300px;
    margin-top: 20px;
}



/* 첫 페이지 */
#intro {
    background-color: var(--white-color);
    padding: 8px 0 0 0;
}

/* 초대글/두번째 페이지 */
#text, #location, #gallery,#account {
    background-color: var(--white-color);
}

/* 달력 */
#calendar {
    background-color: var(--brown3-color);
    /* padding: 80px 0; */
}

#date {
    color: var(--white-color);
    margin: 0;
}

#calendar .img {
    /* height: 400px; */
}

.account_img {
    height: 250px;
}

#notice {
    background-color: var(--brown3-color);
}

#notice .sub_title {
    color: #E8E8E8;
}

#notice .title {
    color: var(--white-color);
}

#notice img {
    width: 340px;
    margin-top: 16px;
}

#gallery {
    max-width: 450px;
}

.gallery_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 100px; */
    /* height: 100px; */
}

#account {
    padding: 360px 8px 80px 8px;
}

.account_wrap {
    background-color: #F8F6F1;
    margin-bottom: 20px;
    padding: 16px 24px;
    border-radius: 8px;
    width: 320px;
}

.account_wrap_title {
    font-weight: 600;
    text-align: left;
    font-family: 'pretendard';
    color: var(--brown3-color);
}

.account_wrap_content p {
    margin-top: 12px;
    text-align: left;
    font-family: 'pretendard';
    color: var(--brown3-color);
}

#thanks {
    background-color: var(--brown3-color);
    color: var(--white-color);
    padding: 40px 8px;
}

#thanks p {
    line-height: 1.8;
}

input {
    display: none;
}

label, .big-img {
    font-size: 0;
    padding: 4px;
}

.img-area {
    /* width: 100%; */
    width: 320px;
    position: relative;
    /* height: 600px; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-area .sub-img {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.img-area .big-img img {
    display: none; 
}

.sub-img label {
    width: 80px;
    height: 80px;
}

.sub-img {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
}

.big-img {
    width: 320px;
}

input:checked ~ .big-img img{display: none;}
input:nth-child(1):checked ~ .big-img img:nth-child(1){display: block;}
input:nth-child(2):checked ~ .big-img img:nth-child(2){display: block;}
input:nth-child(3):checked ~ .big-img img:nth-child(3){display: block;}
input:nth-child(4):checked ~ .big-img img:nth-child(4){display: block;}
input:nth-child(5):checked ~ .big-img img:nth-child(5){display: block;}
input:nth-child(6):checked ~ .big-img img:nth-child(6){display: block;}
input:nth-child(7):checked ~ .big-img img:nth-child(7){display: block;}
input:nth-child(8):checked ~ .big-img img:nth-child(8){display: block;}
input:nth-child(9):checked ~ .big-img img:nth-child(9){display: block;}
input:nth-child(10):checked ~ .big-img img:nth-child(10){display: block;}
input:nth-child(11):checked ~ .big-img img:nth-child(11){display: block;}
input:nth-child(12):checked ~ .big-img img:nth-child(12){display: block;}
input:nth-child(13):checked ~ .big-img img:nth-child(13){display: block;}
input:nth-child(14):checked ~ .big-img img:nth-child(14){display: block;}
input:nth-child(15):checked ~ .big-img img:nth-child(15){display: block;}
input:nth-child(16):checked ~ .big-img img:nth-child(16){display: block;}

@media screen and (max-width: 400px) {
    #calendar .img {
        /* height: 300px; */
    }

    #notice img {
        width: 300px;
    }

    .name .content {
        font-size: 20px;
    }
}
